body {
    font-family:'Bebas Neue', cursive;
}

.navbar {
    background-image: linear-gradient(to left, #276f13, #55b8da);
    padding-top: 2px;
    padding-bottom: 3px;
}

.nav-link:hover {
    border-top: 4px solid #55b8da;
    border-bottom: 4px solid #55b8da;
    padding: 1px 0; 
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

li {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropdown-item:hover {
    background-color: #55b8da;
}

.dropdown-menu:hover {
    display: block;
}

.dropdown-menu {
    right: auto; left: auto;
}

#mainCarousel {
    margin-top: 15%;
    margin-left: 15px;
    border: solid 4px #55b8da;
    margin-bottom: inherit;
}

#loginCardHome {

}

.rxInfo {
    position: absolute;
    color: rgb(18, 145, 124);
}

#rxSignWithButtons {
    margin-top: 1%;
    position: relative;
    width: 100%;
    max-width: 1000%;
    border: 4px solid #55b8da;
    padding-left: 5px;
    padding-right: 5px;
}

#refillButton {
    position: absolute;
    top: 72%;
    right: 60%;
    color: white;
    background-color: #55b8da;
    font-size: 26px;
    border: 4px solid white;
}

#transferButton {
    position: absolute;
    top: 68%;
    left: 60%;
    color: white;
    background-color: #55b8da;
    font-size: 26px;
    border: 4px solid white;
}

.card {
    width: 100%;
    margin-top: -20%;
    padding-top: -20%;
    border: 4px solid #55b8da;
}